# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
# You can use: `openssl rand -base64 32` to generate one

GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_ACCESS_TOKEN=

# -----------------------------------------------------------------------------
# Database (Postgres)
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ossgg?schema=public"

# -----------------------------------------------------------------------------
# Email (SMTP)
# -----------------------------------------------------------------------------
SMTP_FROM=noreply@example.com
SMTP_HOST=localhost
SMTP_PORT=1025
# Enable SMTP_SECURE_ENABLED for TLS (port 465)
SMTP_SECURE_ENABLED=0
SMTP_USER=smtpUser
SMTP_PASSWORD=smtpPassword

# GitHub Webhook Secret
GITHUB_APP_WEBHOOK_SECRET=

# GitHub App Application ID
GITHUB_APP_ID=

# GitHub App Private Key [.pem] (enclose in double quotes to preserve newlines)
GITHUB_APP_PRIVATE_KEY=""

# GitHub App Name in your App's Installation URL (https://github.com/apps/${GITHUB_APP_SLUG}/installations/new)
GITHUB_APP_SLUG=

#S3 Bucket credentials
 S3_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=
S3_SECRET_KEY=
S3_ENDPOINT_URL=